body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 56px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 24px;
    border: 0;
    padding: 0;
}
td:not(:last-child) {
    border-right: 5px solid white;
}
tr:not(:last-child) td {
    border-bottom: 5px solid white;
}